language: node_js
node_js:
  - "8"
  - "10"
  - "12"
os:
  - linux
  - osx
  - windows
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export CXX=g++-9; fi
install:
  - npm install
script:
  - npm test
  - npm run test-components
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-9
      - g++-9
